/*
 * Copyright (c) 2022 Pete Johanson
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define NAV_L 1
#define NUM_L 2
#define SYM_L 3

// Using layer taps on thumbs, having quick tap as well helps w/ repeating space/backspace

/ {
    keymap {
        compatible = "zmk,keymap";

        base_layer {
            label = "Base";
            bindings = <
&kp DELETE               &kp Q             &kp W         &kp F         &kp P  &kp B                 &kp J      &kp L  &kp U          &kp Y     &kp SEMI           &kp BACKSPACE
&mt LEFT_CONTROL ESCAPE  &kp A             &kp R         &kp S         &kp T  &kp G                 &kp M      &kp N  &kp E          &kp I     &kp O              &kp SINGLE_QUOTE
&kp DELETE               &kp X             &kp C         &kp D         &kp V  &kp Z                 &kp K      &kp H  &kp COMMA      &kp DOT   &kp SLASH          &kp ENTER
&mo 3                    &kp LEFT_CONTROL  &kp LEFT_ALT  &kp LEFT_GUI  &mo 1  &kp LEFT_SHIFT        &kp SPACE  &mo 2  &kp RIGHT_GUI  &kp RALT  &kp RIGHT_CONTROL  &mo 4
            >;
        };

        NUMSYM {
            label = "Num";
            bindings = <
&trans     &kp EXCLAMATION  &kp AT     &kp HASH       &kp DOLLAR      &kp PERCENT           &kp CARET              &kp N1  &kp N2  &kp N3  &kp EQUAL     &trans
&kp GRAVE  &kp PERCENT      &kp CARET  &kp AMPERSAND  &kp UNDERSCORE  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp N4  &kp N5  &kp N6  &kp ASTERISK      &kp FSLH
&kp TILDE  &kp GRAVE        &kp TILDE  &kp PIPE       &kp BSLH        &trans                &trans                 &kp N7  &kp N8  &kp N9  &kp ASTERISK  &kp FSLH
&trans     &trans           &trans     &trans         &trans          &trans                &trans                 &kp N0  &trans  &trans  &trans        &trans
            >;
        };

        NAV {
            label = "navigation";
            bindings = <
&kp F23  &kp F1  &kp F2   &kp F3   &kp F4   &kp PRINTSCREEN  &kp F15   &kp F16    &kp F17    &kp F18    &kp F19            &kp DEL
&trans   &kp F5  &kp F6   &kp F7   &kp F8   &kp F13          &kp LEFT  &kp DOWN   &kp UP     &kp RIGHT  &kp LG(BACKSLASH)  &kp F21
&kp F24  &kp F9  &kp F10  &kp F11  &kp F12  &kp F14          &kp HOME  &kp PG_DN  &kp PG_UP  &kp END    &kp F20            &kp F22
&trans   &trans  &trans   &trans   &trans   &trans           &trans    &trans     &trans     &trans     &trans             &trans
            >;
        };

        MEDIA {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans      &kp C_PLAY_PAUSE   &trans           &trans      &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &kp C_PREV  &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &kp C_NEXT  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans      &kp C_MUTE         &trans           &trans      &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans      &trans             &trans           &trans      &trans  &trans
            >;
        };

        TOGGLE {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
